#about.page {
    #content {
        font-family: "Open Sans",sans-serif;
        text-align: center;
        font-size: 13px;
        color: #4A4A4A;
        line-height: 1.8;
        letter-spacing: .5px;

        .title {
            .mixin-section-title;
            padding: 10px 0px;
            font-weight: 400;
        }

        .row {
            text-align: left;
            overflow: auto;
            padding: 0 10px;

            .column1, .column2 {
                display: inline-block;
                width: 48%;
                padding: 0px 10px;
            }

            .column1 {
                float: left;
            }

            .column2 {
                float: right;
            }
        }

      /* Style for image + text content
      .title {
            text-transform: uppercase;
            font-weight: 300;
            font-size: 68px;
            letter-spacing: 2px;
            position: absolute;
            top: 20px;
            width: 100%;
            left: 0px;
            text-align: center;
            color: #FFF;
            min-width: 916px;
        }

        .about-header {
            position: relative;
            background: url("../img/about_us.jpg") no-repeat scroll center center / cover transparent;
            min-height: 300px;
            border-bottom: 8px solid #EB0028;
        }*/
    }
}