#contact.page {
    .form-holder{
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 50px;
        font-family: "Open Sans",sans-serif;
        padding: 20px;

        .title {
                text-transform: uppercase;
                font-weight: 300;
                font-size: 68px;
                letter-spacing: 2px;
                position: absolute;
                top: 20px;
                width: 100%;
                left: 0px;
                text-align: center;
                color: #FFF;
                min-width: 916px;
            }
    #submit_button {
        .mixin-button;
        width: 150px;
        color: black;
        padding: 10px;
        }
    }
}

