@import "header";

@import "splash";
@import "about";
@import "register";
@import "contact";
@import "terms";
@import "services";
@import "login";

#public {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
sup {
    font-size: 12px;
    color: #FF5100;
    font-weight: 600;
}
a {
    text-decoration: none;
    color: #F9C100;
}
.huge {
    font-size: 8em;
    color: #FFF3D9;
}
.graphics-holder {
    text-align: center;
    img {
        padding: 10px 30px;
        height: 370px;
    }
}
